name: AWS Terraform

on:
  workflow_call:
    inputs:
      terraform_version:
        required: false
        type: string
        default: "1.6.1"
      terraform_command:
        required: true
        type: string
      terraform_workspace:
        required: false
        type: string
      working_directory:
        required: false
        type: string
        default: "/terraform/provisioners/infra/"
      environment:
        required: true
        type: string
        description: "GitHub Environment name"
    
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      backend_region:
        required: true
      backend_bucket:
        required: true
      backend_key:
        required: true

jobs:
  terraform:
    runs-on: ubuntu-24.04
    environment: ${{ inputs.environment }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set Terraform Variables
        run: |
          echo "TF_VAR_project=${{ secrets.TF_VAR_PROJECT }}" >> $GITHUB_ENV
          echo "TF_VAR_domain=${{ secrets.TF_VAR_DOMAIN }}" >> $GITHUB_ENV
          echo "TF_VAR_s3_static_name=${{ secrets.TF_VAR_S3_STATIC_NAME }}" >> $GITHUB_ENV
          echo "TF_VAR_cf_distribution_index=${{ secrets.TF_VAR_CF_DISTRIBUTION_INDEX }}" >> $GITHUB_ENV
          echo "TF_VAR_aws_region=${{ secrets.TF_VAR_AWS_REGION }}" >> $GITHUB_ENV
          echo "TF_VAR_acm_crt=${{ secrets.TF_VAR_ACM_CRT }}" >> $GITHUB_ENV

      - name: Debug Environment Variables
        run: |
          echo "All environment variables:"
          env | sort
          
          echo -e "\nTF_VAR variables:"
          env | grep '^TF_VAR_' || true

      - name: Invoke Terraform
        run: |
          docker run \
            -v $(pwd):/app \
            -e AWS_ACCESS_KEY_ID=${{ secrets.aws_access_key_id }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.aws_secret_access_key }} \
            -e ACTION_WORKING_DIR=/app/${{ inputs.working_directory }} \
            -e ACTION_TERRAFORM_CMD=${{ inputs.terraform_command }} \
            -e ACTION_TERRAFORM_WORKSPACE=${{ inputs.terraform_workspace }} \
            -e BACKEND_region=${{ secrets.backend_region }} \
            -e BACKEND_bucket=${{ secrets.backend_bucket }} \
            -e BACKEND_key=${{ secrets.backend_key }} \
            --env-file <(env | grep '^TF_VAR_') \
            madpixels/action-terraform:0.0.4_tf${{ inputs.terraform_version }}