name: AWS Terraform

on:
  workflow_call:
    inputs:
      terraform_version:
        required: false
        type: string
        default: "1.6.1"
      terraform_command:
        required: true
        type: string
      terraform_workspace:
        required: false
        type: string
      working_directory:
        required: false
        type: string
        default: "/terraform/provisioners/infra/"
      environment:
        required: true
        type: string
        description: "GitHub Environment name"
    
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      backend_region:
        required: true
      backend_bucket:
        required: true
      backend_key:
        required: true

      # То, что мы передаём сверху. Необязательный, поэтому required: false
      TF_VARS_JSON:
        required: false

jobs:
  terraform:
    runs-on: ubuntu-24.04
    environment: ${{ inputs.environment }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Parse TF_VARS_JSON
        env:
          RAW_JSON: ${{ secrets.TF_VARS_JSON }}
        run: |
          echo "Parsing TF_VARS_JSON..."
          
          if [ -n "$RAW_JSON" ]; then
            echo "$RAW_JSON" | jq -r 'to_entries | .[] | "TF_VAR_\(.key)=\(.value)"' >> $GITHUB_ENV
          else
            echo "No TF_VARS_JSON provided, skipping..."
          fi
      - name: Debug Environment Variables
        run: |
          echo "All environment variables:"
          env | sort
          
          echo -e "\nTF_VAR variables:"
          env | grep '^TF_VAR_' || true

      - name: Invoke Terraform
        run: |
          docker run \
            -v $(pwd):/app \
            -e AWS_ACCESS_KEY_ID=${{ secrets.aws_access_key_id }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.aws_secret_access_key }} \
            -e ACTION_WORKING_DIR=/app/${{ inputs.working_directory }} \
            -e ACTION_TERRAFORM_CMD=${{ inputs.terraform_command }} \
            -e ACTION_TERRAFORM_WORKSPACE=${{ inputs.terraform_workspace }} \
            -e BACKEND_region=${{ secrets.backend_region }} \
            -e BACKEND_bucket=${{ secrets.backend_bucket }} \
            -e BACKEND_key=${{ secrets.backend_key }} \
            --env-file <(env | grep '^TF_VAR_') \
            madpixels/action-terraform:0.0.7_tf${{ inputs.terraform_version }}