name: DockerHub Push

on:
  workflow_call:
    inputs:
      dockerfile:
        required: true
        type: string
        description: "Path to Dockerfile"
      repository:
        required: true
        type: string
        description: "DockerHub repository name"
      tag:
        required: true
        type: string
        description: "Image tag"
      build_args:
        required: false
        type: string
        description: "JSON object of build args"
        default: "{}"
      platforms:
        required: false
        type: string
        description: "Comma-separated list of platforms"
        default: "linux/amd64,linux/arm64"
      context:
        required: false
        type: string
        default: "docker-context"
        description: "Docker build context path"
    secrets:
      dockerhub-username:
        required: true
      dockerhub-token:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Download Docker Context
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.context }}
          path: ${{ inputs.context }}

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.dockerhub-username }}
          password: ${{ secrets.dockerhub-token }}

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Build and Push Multi-Arch Image
        run: |
          # Превращаем build_args из JSON в "--build-arg KEY=VALUE"
          BUILD_ARGS=""
          for arg in $(echo '${{ inputs.build_args }}' | jq -r 'to_entries | .[] | "--build-arg \(.key)=\(.value)"'); do
            BUILD_ARGS="$BUILD_ARGS $arg"
          done

          # Создаём мультиархитектурный образ и пушим ЕДИНЫЙ ТЕГ
          docker buildx build \
            --platform ${{ inputs.platforms }} \
            --file ${{ inputs.context }}/${{ inputs.dockerfile }} \
            $BUILD_ARGS \
            -t ${{ inputs.repository }}:${{ inputs.tag }} \
            --push \
            ${{ inputs.context }}
