name: Rust CI

on:
  push:
    branches: [ "**" ]
    paths:
      - "**.rs"
      - "**/Cargo.toml"
      - "**/Cargo.lock"
  pull_request:
    branches: [ "**" ]
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
        description: "Directory containing Rust project"
      binaries:
        required: true
        type: string
        description: "JSON array of binary names to build"
      version:
        required: false
        type: string
        description: "Release version (only for release)"
        default: ""

jobs:
  check:
    if: >
      (github.event_name == 'push' && github.ref != 'refs/heads/main')
      || (github.event_name == 'pull_request' && github.event.pull_request.base.ref != 'main')
    uses: Mad-Pixels/github-workflows/.github/workflows/internal/rust-check.yml@dev
    with:
      working-directory: ${{ inputs.working-directory }}

  build:
    if: >
      (github.event_name == 'pull_request')
      && (github.event.pull_request.base.ref == 'main')
    needs: [check]
    uses: Mad-Pixels/github-workflows/.github/workflows/internal/rust-build.yml@dev
    with:
      working-directory: ${{ inputs.working-directory }}
      binaries: ${{ inputs.binaries }}

  release:
    if: >
      (github.event_name == 'push')
      && (github.ref == 'refs/heads/main')
    uses: Mad-Pixels/github-workflows/.github/workflows/internal/rust-release.yml@dev
    with:
      working-directory: ${{ inputs.working-directory }}
      binaries: ${{ inputs.binaries }}
      version: ${{ inputs.version }}
